<div id='header'>
  <br/>
  <br/>
  <br/>
  <%= image_tag("logo_horiz_miboe.png") %>
  <br/>
  <br/>
  <br/>
  <%= render 'searches/form' %>
  <div>
    <%= t('what_is_it.title') %>
    <%= t('what_is_it.content').html_safe %>
    
    <%= t('how_does_it_work.title') %>
    <%= t('how_does_it_work.content_1') %>
    <%= t('how_does_it_work.content_2') %>
    
    <%= t('who_are_we.title') %>
    Rubén Abad Agulló<br/>Alejandro González Díez<br/>Álvaro Martín Fraguas<br/>Leonardo Menezes da Silva
  </div>
</div>

