<div id='wrapper'>
  <div id='header'>
    <%= image_tag("logo.png") %>
    <br/>
    <br/>
    <%= render 'searches/form' %>
  </div>
  <div id='footer'>
    <%= link_to "Fork us on GitHub", "https://github.com/rocket-abredatos/mi_boe" %> - 
    <%= link_to "Follow us on Twitter", "http://twitter.com/#!/mi_boe" %> - 
    <%= link_to "AbreDatos Challenge 2011", "http://www.abredatos.es" %>
  </div>
</div>


