<div id='header'>
  <br/>
  <br/>
  <br/>
  <%= image_tag("logo_horiz_miboe.png") %>
  <br/>
  <br/>
  <br/>
  <%= render 'searches/form' %>
  <br/>
  <br/>
  <br/>
  <div>
  <table id="tableAbout"> 
    <tbody>
      <tr> 
        <td valign="top" align="justify" width="33%"> 
          <em><b><%= t('what_is_it.title') %></b></em><br /> 
      	 	<p align="justify"> 
            <%= t('what_is_it.content').html_safe %>
          </p> 
        </td> 
        <td valign="top" align="justify" width="33%"> 
          <em><b><%= t('how_does_it_work.title') %></b></em><br /> 
      		<p align="justify"> 
            <%= t('how_does_it_work.content_1') %>
          </p>
          <p align="justify">
            <%= t('how_does_it_work.content_2') %>
          </p>
        </td> 
        <td valign="top" align="center" width="33%"> 
      	  <em><b><%= t('who_are_we.title') %></b></em><br> 
      		<p align="justify"> 
            <b>Rubén Abad</b>: Scraping and front-end development
      		  <a href="http://twitter.com/ruabag" target="_blank"><%= image_tag("twitter.png", :align=>"absmiddle", :border=>"0") %></a> 
      		  <a href="http://es.linkedin.com/in/ruabag" target="_blank"><%= image_tag("linkedin.png", :align=>"absmiddle", :border=>"0")%></a> 
      	    <a href="https://github.com/rabad" target="_blank"><%= image_tag("github.png", :align=>"absmiddle", :border=>"0")%></a> 
      		  <br> 
      		  <b>Alejandro González</b>: Notifications and Scraping
      		  <a href="http://www.twitter.com/nihilistBird" target="_blank"><%= image_tag("twitter.png", :align=>"absmiddle", :border=>"0") %></a> 
      		  <a href="http://es.linkedin.com/pub/alejandro-gonzalez-diez/30/109/9a6" target="_blank"><%= image_tag("linkedin.png", :align=>"absmiddle", :border=>"0")%></a> 
      		  <a href="http://github.com/agonzalezdiez" target="_blank"><%= image_tag("github.png", :align=>"absmiddle", :border=>"0")%></a>
      		  <br> 
      		  <b>Álvaro Martín</b>: Front-end concept and development
      	    <a href="https://github.com/amartinfraguas" title="" target="_blank"><%= image_tag("github.png", :align=>"absmiddle", :border=>"0")%></a> 
      		  <br> 
      		  <b>Leonardo Menezes</b>: Scraping and SolR setup 
      		  <a href="http://www.twitter.com/leonardomenezes" title="" target="_blank"><%= image_tag("twitter.png", :align=>"absmiddle", :border=>"0") %></a> 
      		  <a href="http://in.linkedin.com/in/leonardomenezess" title="" target="_blank"><%= image_tag("linkedin.png", :align=>"absmiddle", :border=>"0")%></a> 
      		  <a href="http://lmenezes.com/?feed=rss2" title="" target="_blank"><%= image_tag("rss.png", :align=>"absmiddle") %></a> 
      		  <a href="http://github.com/lmenezes" target="_blank"><%= image_tag("github.png", :align=>"absmiddle")%></a>
          </p>
        </td> 
      </tr>     
    </tbody>
  </table>
  </div>
</div>

