<table id="form">
  <tr>
    <td>
      <%= link_to (image_tag("logo_cuadrado_miboe.png", :border=>"0")), root_url %>
    </td>
    <td>
      <h2><%= t('users.form.signup') %></h2>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <p><%= f.label t('users.forms.email') %><br />
        <%= f.email_field :email %></p>
        <p><%= f.label t('users.forms.password') %><br />
        <%= f.password_field :password %></p>
        <p><%= f.label t('users.forms.password_confirmation') %><br />
        <%= f.password_field :password_confirmation %></p>
        <p><%= f.submit t('users.forms.signup') %></p>
      <% end %>
      <%= render :partial => "devise/shared/links" %>
    </td>
  </tr>
</table>
