<table id="subs">
  <tr>
    <td width="30%">
      <%= link_to (image_tag("logo_cuadrado_miboe.png", :border=>"0")), root_url %>
    </td>
    <td width="70%">
      <h1><%= t('subscriptions.listing')%></h1>
        <table>
        <tr>
          <th>Keywords</th>
          <th></th>
          <th></th>
        </tr>
        <% @subscriptions.each do |subscription| %>
        <tr>
          <td><p><%= subscription.keywords %></p></td>
          <td><p><%= link_to t('edit'), edit_user_subscription_path(current_user,subscription) %></p></td>
          <td><p><%= link_to t('destroy'), user_subscription_path(current_user,subscription), :confirm => t('users.forms.sure'), :method => :delete %></p></td>
        </tr>
        <% end %>
      </table>
      <br />
      <p><%= link_to t('subscriptions.new'), new_user_subscription_path(current_user) %></p>
    </td>
</table>
